########### header

extends private_cpp

snippet include "#include<iostream>"
#include<iostream>
endsnippet

snippet main "int main()"
int main()
{
    return 0;
}
endsnippet


snippet namespacestd "using namespace std;"
using namespace std;
endsnippet


snippet fi "for (int i = 0; i < length; ++i)"
for (int i = 0; i < length; ++i)
{
}
endsnippet


snippet template "template <typename T>"
template <typename T>
endsnippet


snippet cout "std::cout << std::endl;"
std::cout << ${1} << std::endl;
endsnippet
